.root{
    -fx-background-color: #ffffff;
}
.label{
    -fx-font-family: "System";
    -fx-font-size: 30px;
    -fx-text-fill: #000000;
}
.button{
    -fx-background-color: #f39776;
    -fx-text-fill: #000000;
}
